.navbar {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: lightskyblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  font-size: 16px;
}

.navbar_item {
  max-height: 60px;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
}

.navbar_item:hover {
  background-color: #2196F3;
}

.navbar_logo {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_logo img {
  width: 40px;
  height: 40px;
}
