<nav class="navbar">
  <div class="navbar_logo" [routerLink]="['/pokemons']"><p>P</p><img   src="../../../assets/logo.png" alt="logo"><p>kemons</p></div>
    <div [routerLink]="['/pokemons']" class="navbar_item">Home</div>
    <div [routerLink]="['/caughtPokemons']" class="navbar_item">Caught pokemons</div>
    <div [routerLink]="['/freePokemons']" class="navbar_item">Free pokemons</div>
</nav>
