.container {
  margin: 40px 10% auto 10%;
  display: flex;
}

button {
  border: 0;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  opacity: .9
}

.gallery {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.gallery_item {
  width: 20%;
  margin: 10px;
  border: 2px solid green;
}

.gallery_item:hover {
  background-color: lightgoldenrodyellow;
}

.list_item:hover {
  background-color: honeydew;
}

h3 {
  font-size: 150%;
  text-align: center;
}

.gallery_item_img {
  width: 100%;
}

.gallery_item button {
  height: 40px;
  width: 100%;
}

.list {
  flex-direction: column;
}

.list_item {
  width: 50%;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid green;
}

.list_item button {
  height: 40px;
  width: 100%;
}

.damaged {
  border: 2px solid red;
}

.page_pagination {
  margin: 120px auto 10px calc(10% + 10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .gallery_item {
    width: 45%;
  }
}

@media screen and (max-width: 540px) {
  .gallery_item {
    width: 100%;
  }

  .gallery {
    margin: 0;
  }

  .switch {
    margin: 20px auto 10px 5%;

  }

}
