<div class="page_pagination">
<label class="switch" for="checkbox">
  <input type="checkbox" id='checkbox' (click)="onClickSwitch()">
  <span class="slider round"></span>
  <span> Switch display mode</span>
</label>

  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = getDataSource($event.pageIndex, $event.pageSize)">
  </mat-paginator></div>

<div [class]="class" class="container">
<div *ngFor="let pokemon of pokemons; index as pokemonId" [class]="classItem" [class.damaged]="pokemon.damage > 50">
  <h3 [routerLink]="['/pokemons', pokemonId + 1]">
    {{ pokemon.name | uppercase}}
  </h3>
  <img *ngIf="class === 'gallery'" [routerLink]="['/pokemons', pokemonId + 1]" class="gallery_item_img" src="../../../assets/pokemons/{{pokemon.id}}.png" alt="pokemon">
  <button [style.background]="pokemon.isCaught ? 'lightsalmon' : 'lightgreen'" (click)="onClickBtn(pokemon)">{{pokemon.isCaught ? 'Release' : 'Catch!'}}</button>
</div>
</div>

